.map {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

.pigeon-attribution {
  background-color: #111 !important;
  color: #fff !important;
}

.pigeon-attribution > a {
  color: #fff !important;
  text-decoration: underline;
}

.mapHolder {
  width: 100%;
  height: calc(100vh - 48px);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.pigeon-tiles-box {
  background-color: #021f35;
}

path {
  fill: none;
}

details {
  z-index: 10;
  position: absolute;
  color: var(--fg-primary);
  background-color: var(--bg-secondary);
  margin: 16px;
  padding: 8px 12px;
}

details > summary {
  font-size: 1.5em;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
}

