.train-box {
  font-size: 1.2rem;
  text-align: left;
  border: 1px solid #777;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px 12px;
  transition-duration: 100ms;
}

.train-box div {
  font-weight: 300;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.train-box span {
  font-weight: 400;
}

.train-box p:nth-child(2) {
  margin-top: 0px;
}

.train-box p {
  margin-top: -4px;
}

.train-box div:first-child {
  font-weight: 400 !important;
}

.train-box div:first-child span:first-child {
  font-weight: 600 !important;
}

.station-box {
  font-size: 1.2rem;
  text-align: left;
  border: 1px solid #777;
  background-color: rgb(10, 10, 10);
  border-radius: 4px;
  padding: 6px 12px;
  transition-duration: 100ms;
  max-width: 395px;
}

.station-line {
  font-size: 1.2rem;
  text-align: left;
  border: 1px solid #777;
  background-color: rgb(10, 10, 10);
  border-radius: 4px;
  padding: 0px 8px;
  transition-duration: 100ms;
  width: 100%;
}

.station-line > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  width: 100%;
}

.station-line > div:first-child {
  margin-top: 0px;
}

.station-line * {
  vertical-align: middle;
  line-height: 38px;
}

.currentStation {
  background-color: rgb(50, 50, 50);
  border-color: #fff;
}

.station-box div {
  font-weight: 300;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
}

.station-box span {
  font-weight: 400;
}

.station-box p {
  margin-top: -4px;
}

.station-box div:first-child {
  font-weight: 500 !important;
}

.station-box div:first-child span:first-child {
  font-weight: 400 !important;
}

.status,
.on-time {
  font-size: 1rem;
  padding: 2px 8px;
  border-radius: 8px;
  background-color: #1864ab;
}

.status-text,
.on-time-text {
  color: #1864ab !important;
  font-weight: 500;
  text-decoration: dotted underline;
}

.early {
  background-color: #2b8a3e;
}

.early-text {
  color: #2b8a3e !important;
}

.late {
  background-color: #c60c30;
}

.late-text {
  color: #c60c30 !important;
}

.complete,
.no-data {
  background-color: #212529;
}

div.trainPage {
  width: 100%;
  height: 100vh;
}

div.trainPage div.header-trainpage {
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  height: 48px;
}

div.trainPage div.header-trainpage h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

div.trainPage div.header-trainpage h1 {
  font-size: 2rem;
}

div.trainPage section.section-trainPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  padding: 16px;
  height: calc(100vh - 114px);
  overflow-y: scroll;
}

div.trainPage section.section-trainPage div.stations {
  width: calc(100% - 18px);
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

table,
th,
td {
  border: 1px solid;
}

.section-trainPage {
  text-align: left;
}

.section-trainPage h1 {
  font-size: 3rem;
  line-height: 1.1em;
  font-weight: 500;
  margin-top: -0.25em;
}

.section-trainPage h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: -0.25em;
}

.section-trainPage ul li {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.25em;
  font-weight: 300;
  margin-top: -0.05rem;
  margin-left: 1.5rem;
}

.section-trainPage ul li a {
  text-decoration: underline;
}

.section-trainPage ul li i {
  font-weight: 400;
  color: #aaa;
  font-style: italic;
}

.section-trainPage ul li span {
  color: rgb(116, 116, 255);
  text-decoration: dotted underline;
  font-weight: 500;
}

#searchbox {
  margin-bottom: 12px;
}

.maplibregl-popup-content, .mapboxgl-popup-content {
  width: 100%;
}

.train-popup {
  font-family: Kanit, sans-serif;
  display: flex;
  flex-direction: column;
  flex: wrap;
  gap: 4px;
}

.train-popup__header {
  font-size: 1.5rem;
  font-weight: 500;
}

.train-popup__info {
  font-size: 1.4rem;
  font-weight: 400;
}

.train-popup__info > span {
  font-size: 1.4rem;
  font-style: italic;
}

.train-popup__info > a {
  text-decoration: underline;
}

.train-popup__updated {
  font-size: 1rem;
  line-height: 90%;
}

.enroute {
  font-style: italic;
}

.staleTrainWarning {
  font-weight: 500;
  color:rgb(231, 39, 39);
}

.train-box-max-width {
  width: 100%;
  max-width: 380px;
}