root {
  text-align: cetner;
}

.titleArea {
  display: block;
}

.titleArea .slogan {
  color: #ffffff;
  text-shadow: 0px 0px 12px #000000;
  position: relative;
  width: 0;
  height: 0;
  text-wrap: nowrap;
  top: -105px;
  /* gayTitle size is 96px */
  right: -200px;
  rotate: 20deg;
  font-size: 125%;
  font-weight: 500;
  text-align: center;
}

.gayTitle {
  background: #ffffff;
  /*
  background: linear-gradient(105deg, rgba(226,32,22,1) 11.5%, rgba(242,137,23,1) 11.5%, rgba(242,137,23,1) 18.5%, rgba(239,229,36,1) 18.5%, rgba(239,229,36,1) 25.5%, rgba(120,184,42,1) 25.5%, rgba(120,184,42,1) 32.5%, rgba(44,88,164,1) 32.5%, rgba(44,88,164,1) 39.5%, rgba(109,35,128,1) 39.5%, rgba(109,35,128,1) 46.5%, rgba(0,0,0,1) 46.5%, rgba(0,0,0,1) 53.5%, rgba(148,85,22,1) 53.5%, rgba(148,85,22,1) 60.5%, rgba(123,204,229,1) 60.5%, rgba(123,204,229,1) 67.5%, rgba(244,174,200,1) 67.5%, rgba(244,174,200,1) 74.5%, rgba(255,255,255,1) 74.5%, rgba(255,255,255,1) 81.5%, rgba(253,216,23,1) 81.5%, rgba(253,216,23,1) 88.5%, rgba(102,51,139,1) 88.5%);
  */
  filter: drop-shadow(0px 0px 2px #000000);
  /*
  background-image:
    linear-gradient(0deg, #3550a8, #3550a8),
    repeating-linear-gradient(180deg,
      #e6142c, #e6142c 7.7%, white 7.7%, white 15.4%);
  background-size: 35% 55%, 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

main h1 {
  font-size: 4em;
}

main h2 {
  font-size: 2em;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4 {
  font-weight: 500;
}

.welcome-to {
  margin-top: 16px;
  margin-bottom: -32px;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 20px 20px 20px;
  border: 1px solid #777;
  border-radius: 8px;
  margin: 0 16px;
}

main section.section-new div h4 {
  margin-bottom: 8px;
}

main section.section-new div button {
  margin-top: 20px;
}

main section div.savedTrains {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 4px;
}

input,
select,
button {
  font-size: 1.25em;
  padding: 0.5em;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

input.root,
select.root,
button.root,
#trainName option {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  cursor: pointer;
}

.click {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.greyed {
  color: #aaa;
}

section input,
section select,
section button {
  background-color: rgba(0, 0, 0, 0.5);
}

div.links {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

section.footer {
  margin-top: 12px;
  padding: 12px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

section.footer a {
  text-decoration: underline;
}

section.amtrakerVersion {
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 12px 16px 16px 16px;
  display: flex;
  gap: 8px;
}

section.section-settings {
  display: flex;
  overflow-y: scroll;
}

section.section-trainPage p {
  font-size: 1.5rem;
}

section.section-settings select,
section.section-settings select option {
  background-color: #111 !important;
}

section.section-settings h1,
section.section-settings h2 {
  line-height: 1.15em;
}

section.section-settings h2 {
  margin-top: 8px;
}

section.section-settings select {
  margin-top: 4px;
}

.terrabanner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: #777 1px solid;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 4px;
}

.terrabanner:nth-child(2) {
  margin-bottom: 0px;
}

.terrabanner-actually::before {
  content: "Advertisement";
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}

.bnr-threehundredtimestwofifty {
  min-width: 250px !important;
  max-width: 400px !important;
}